@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.first {
	font-family: 'Open Sans', sans-serif;
}



@font-face  {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.eot');
	src: url('../fonts/Bebas.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/Bebas.woff2') format('woff2'),
		    url('../fonts/Bebas.woff') format('woff'),
		    url('../fonts/Bebas.ttf') format('truetype'),
		    url('../fonts/Bebas.svg#Bebas') format('svg');
	font-weight: normal;
	font-style: normal;
}

.second {
	font-family: 'Bebas', sans-serif;
}

@font-face  {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.third {
	font-family: 'Lato-Regular', sans-serif;
}


.forth {
	font-family: 'Lobster', sans-serif;
}







